.page {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  padding: $xl;
  background-color: #F2F2F8;
}

.center {
  align-self: center;
}

.overflow {
  overflow-x: scroll;
}