@import "src/theme/variables.scss";

.page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 12px 0 0 0;
}

@media only screen and (max-width: #{$screenLg}px) {
  .page {
    padding: 72px $lg 0 $lg;
  }
}

@media only screen and (min-width: #{$screenLg}px) and (max-width: 1360px) {
  .page {
    padding: 96px 120px 0 120px;
  }
}


.center {
  align-self: center;
}

.overflow {
  overflow-x: scroll;
}