@media only screen and (max-width: 500px) {
  #iconCol {
      margin: initial !important;
  }   

  .col-4 {
      font-size: 14px;
  }
  #outputCol {
      margin-top: -32px !important;
      font-size: 14px;
  }

  .my-1{
      margin-bottom :.85rem!important
  }

  #installButton {
      border-radius: 0.37rem;
      height: 45px;
      font-weight: 300;
      color: white;
      width: 145px;
      padding: 7px;
      margin-top: 20px;
      font-size: smaller;
      text-align: center;
      padding: initial;
  }
}