{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": ["object", "any"] }],
    "class-methods-use-this": 0,
    "semi": ["error", "never"],
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "indent": ["error", 2],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "env": {
    "jest/globals": true,
    "browser": true
  }
}
