/node_modules
/build
.DS_Store
yarn-error.log
.env*
.eslintcache
/.idea
dist
electron-builder.yml
/.yalc
yalc.lock
# testing
/coverage/
src/types/contracts/
src/types/gateway/
tsconfig.tsbuildinfo
public/**/*.js
jest.results.json
*.#*
cypress/videos
cypress/screenshots
cypress/downloads
