language: node_js
node_js:
  - "8"
os:
  - linux
before_script:
  - yarn global add truffle
  - cd node_modules/truffle && yarn add solc@0.4.19 && cd .. && cd ..
  - yarn global add surge
  - git clone https://github.com/gnosis/gnosis-safe-contracts.git
  - cd gnosis-safe-contracts
  - truffle compile && cd ..
after_success:
  - yarn build-storybook
  - yarn build
  - |
    if [ ${TRAVIS_BRANCH} = "master" ]; then
      export NODE_ENV=production;
    else
      export NODE_ENV=development;
    fi
  - cd build_webpack/ && cp index.html 200.html && cd ..
  - chmod ugo+x ./config/deploy/deploy.sh
  - ./config/deploy/deploy.sh
