$background: '#f7f5f5';
$border: '#e8e7e6';
$connectedColor: '#008C73';
$disabled: '#5D6D74';
$error: '#f02525';
$fancy: '#f02525';
$fontColor: '#001428';
$headerHeight: '53px';
$lg: '24px';
$marginButtonImg: '12px';
$md: '16px';
$primary: '#001428';
$secondary: '#008C73';
$secondaryTextOrSvg: '#B2B5B2';
$secondaryBackground: '#f0efee';
$sm: '8px';
$warning: '#ffc05f';
$xl: '32px';
$xs: '4px';
$xxl: '40px';
$xxlFontSize: '32px';
$extraBoldFont: 800;
$fancy: '#f02525';
$fontSizeHeadingLg: 32;
$fontSizeHeadingMd: 20;
$fontSizeHeadingSm: 16;
$fontSizeHeadingXs: 13;
$bolderFont: 500;
$mediumFontSize: 14;
$screenLg: 1200;
$secondary: '#008C73';
$smallFontSize: 12;
$largeFontSize: 16;
$extraLargeFontSize: 20;
$extraSmallFontSize: 11;
$lightFont: 300;
$regularFont: 400;
$boldFont: 700;
$bolderFont: 500;



