$background: #000;
$border: #06fc99;
$connectedColor: #05de87;
$disabled: #05de87;
$error: #f02525;
$fancy: #f02525;
$fontColor: #06fc99;
$primary: #06fc99;
$secondary: #05de87;
$secondaryTextOrSvg: #05de87;
$secondaryBackground: #05de87;
$warning: #f02525;
$fancy: #f02525;
$secondary: #05de87;

$grey500: #000;
$black400: #000;
$black500: #000;
$black600: #000;

$headerHeight: 52px;
$marginButtonImg: 12px;

$lg: 24px;
$md: 16px;
$sm: 8px;
$xl: 32px;
$xs: 4px;
$xxl: 40px;
$xxlFontSize: 32px;

$bolderFont: 500;
$extraBoldFont: 800;

$fontSizeHeadingLg: 32px;
$fontSizeHeadingMd: 20px;
$fontSizeHeadingSm: 16px;
$fontSizeHeadingXs: 13px;
$mediumFontSize: 14px;

$smallFontSize: 12px;
$largeFontSize: 16px;
$extraLargeFontSize: 20px;
$extraSmallFontSize: 11px;


$lightFont: 300;
$regularFont: 400;
$boldFont: 700;

$screenLg: 1200;
$screenMd: 992;
$screenSm: 768;
$screenXs: 480;