.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

@define-mixin row $size {
  .start$(size) {
      justify-content: flex-start;
      text-align: start;
  }
  .center$(size) {
      justify-content: center;
      text-align: center;
  }
  .end$(size) {
      justify-content: flex-end;
      text-align: end;
  }
  .top$(size) {
      align-items: flex-start;
  }
  .middle$(size) {
      align-items: center;
  }
  .bottom$(size) {
      align-items: flex-end;
  }
  .around$(size) {
      justify-content: space-around;
  }
  .between$(size) {
      justify-content: space-between;
  }
}

@mixin row Xs;

@media only screen and (min-width: $(screenSm)px) {
  @mixin row Sm;
}

@media only screen and (min-width: $(screenMd)px) {
  @mixin row Md;
}

@media only screen and (min-width: $(screenLg)px) {
  @mixin row Lg;
}
