.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.marginSm {
  margin-bottom: $sm;
}

.marginMd {
  margin-bottom: $md;
}

.marginLg {
  margin-bottom: $xl;
}

.marginXl {
  margin-bottom: $xl;
}