.block {
  display: inline-block;
  width: 100%;
}

.sm {
    margin-bottom: 17px;
}

.md {
    margin-bottom: 42px;
}

.xl {
    margin-bottom: 96px;
}

.xxl {
    margin-bottom: 200px;
}

.paddingSm {
  padding-top: $xs;
}

.paddingMd {
  padding-top: $md;
}

.paddingLg {
  padding-top: $lg;
}

.paddingXl {
  padding-top: $xl;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}