.heading {
  font-weight: normal;
  line-height: normal;  
  margin: 0;
}

.h1 {
  line-height: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  font-size: $(fontSizeHeadingLg)px;
}

.h2 {
  line-height: 28px;
  font-size: $(fontSizeHeadingMd)px;
}

.h3 {
  line-height: 21px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: $(fontSizeHeadingSm)px;
}

.h4 {
  line-height: 21px;
  font-family: 'Roboto Mono', monospace;
  font-size: $(fontSizeHeadingXs)px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.marginSm {
    margin: 0 0 $sm 0;
}

.marginMd {
    margin: 0 0 $md 0;
}

.marginLg {
    margin: 0 0 $lg 0;
}
