.footer {
  font-size: $smallFontSize;
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: 36px;
  justify-items: center;
  align-items: center;
  border: solid 0.5px $border;
  background-color: white;
}

@media only screen and (max-width: $(screenXs)px) {
  .footer {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-row-gap: $sm;
    justify-items: center;
  }

  .footer > a {
    padding: 0;
  }
}