@import "src/theme/variables.scss";

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("IBM Plex Mono-Regular"),
    url("../../assets/fonts/IBMPlexMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "IBM Plex Mono Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("IBM Plex Mono-bold"),
    url("../../assets/fonts/IBMPlexMono-Bold.ttf") format("ttf");
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  bottom: 0;
  color: $fontColor;
  font-family: "IBM Plex Mono", monospace;
  font-size: $mediumFontSize;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  text-rendering: geometricPrecision;
  top: 0;
}

body > div:first-child {
  display: flex;
  min-height: 100%;
}

html[class="darkMode"],
html[class="darkMode"] iframe,
html[class="darkMode"] div[style*="background-image"],
html[class="darkMode"] svg[color],
html[class="darkMode"] img:not([id="safe-logo"]),
html[class="darkMode"] [class*="networkLabel"] {
  filter: invert(0.9) hue-rotate(180deg);
}

html[class="darkMode"] [class*="networkLabel"] {
  outline: 1px solid #333;
}

body[data-with-banner="true"],
body[data-with-banner="true"] [class*="safe-list-sidebar"] {
  padding-top: 80px;
}
