html, body {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  color:  $fontColor;
  font-family: 'Roboto Mono', monospace; 
  font-size: $mediumFontSize;
  margin: 0;
  background-color: $background;
}

body>div:first-child {
  display: flex;
  min-height: 100%;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}