.safe {
  justify-content: center;
  justify-items: center;
  margin-top: $xl;
}

.summary {
  display: flex;
  justify-content: space-around;
}

.safeActions {
  display: flex;
  justify-content: center;
}
